.demo{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
.login {
    width: 400px;
    height: 300px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -200px;
    text-align: center;
}
.login_ul {
    margin: 45px 0;
}
#registered {
    background: #ccc;
    /* margin-left: 10px; */
}
#registered:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}
.login_a {
    margin-left: -75px;
    margin-top: 20px;
}